datasets/images/test/
datasets/images/test_korea/
datasets/images/train/
datasets/images/val/
datasets/labels/train
datasets/labels/val
datasets/labels/*.cache
datasets/video/*.mp4
datasets/*.odgt

results/*/*.mp4
results/density/*.png
results/*.avi