# python 3.8.0 
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
filelock==3.13.1
filterpy==1.4.5
fonttools==4.57.0
fsspec==2024.6.1
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.4
kiwisolver==1.4.7
lap==0.4.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mpmath==1.3.0
networkx==3.0
numpy==1.24.1
ocsort==0.0.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
packaging==25.0
pandas==2.0.3
pillow==10.2.0
psutil==7.0.0
py-cpuinfo==9.0.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
scipy==1.9.3
six==1.17.0
sympy==1.13.3
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.141
ultralytics-thop==2.0.14
urllib3==2.2.3
zipp==3.20.2
